@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* ===== GERAL ========== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* Primary Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral Colors */
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Shadows */
  --very-dark-blue-shadow: hsl(216, 59%, 7%);
  --dark-blue-shadow:hsl(215, 57%, 15%);
  --light-blue-shadow:hsl(214, 33%, 18%);

  font-size: 62.5%; /* 1rem = 10px */
}

html{
  scroll-behavior: smooth;
}

html,
body{
  width: 100vw;
  height: 100vh;
}

body{
  font-family: 'Outfit', sans-serif;
  font-size: 1.8rem;
  background-color: var(--very-dark-blue-main);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--very-dark-blue-main);
}

.nft-card{
  width: 350px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue-card);
  border-radius: 2rem;
  margin-top: -3rem;

  box-shadow: 3px 2px 2px var(--very-dark-blue-shadow), 6px 4px 4px var(--dark-blue-shadow), 8px 5px 5px var(--light-blue-shadow);
}

.nft-image{
  width: 315px;
  height: 315px;
  margin-top: -1rem;
  background-image: url("./images/image-equilibrium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  transition: 300ms;
}

.nft-image:hover{
  cursor: pointer;
}

.nft-description{
  margin: 2rem 0 -1rem 0;
  width: 300px;
}

h1.nft-title{
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: var(--white);
  transition: 300ms;
}

h1.nft-title:hover{
  cursor: pointer;
  color: var(--cyan);
}

p.nft-desc{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--soft-blue);
}

.nft-tags{
  display: flex;
  font-size: 1.6rem;
}

.nft-tags p.nft-value{
  margin-left: 0.5rem;
  color: var(--cyan);
}

.nft-tags img.clock{
  margin-bottom: -0.2rem;
  margin-right: 0.5rem;
}

.nft-tags p.nft-days{
  margin-left: 10rem;
  color: var(--soft-blue);
}

.line{
  margin-top: 2rem;
  border: solid 1px white;
}

.creator{
  display: flex;
  margin-top: 2rem;
  color: var(--soft-blue);
}

.creator img{
  width: 3.5rem;
}

.creator p{
  margin-left: 1.5rem;
}

.creator span{
  color: var(--white);
  transition: 300ms;
}

.creator span:hover{
  cursor: pointer;
  color: var(--cyan);
}

.attribution{
  font-size: 2rem;
  text-align: center;
  margin-top: -3.5rem;
  color: var(--soft-blue);
}
.attribution a{
  color: var(--white);
  transition: 300ms;
}

.attribution a:hover{
  cursor: pointer;
  color: var(--cyan);
}

@media screen and (max-width: 640px) {
  .nft-card{
    width: 330px;
    height: 540px;
    margin-top: -5rem;
  }

  .nft-image{
    width: 280px;
    height: 280px;
  }

  .attribution{
    font-size: 1.8rem;
    margin-top: -4.5rem;
  }
}